.form {
    margin-top: 8vh;
    display: inline-flex;
}
.cel-fahren-select {
    margin-top: 8vh;
    display: inline-flex;
}
.city-field {
    margin: 0 10px 0 10px;
    color: rgb(204, 204, 204);
}
.error {
    min-height: 22px;
    color: brown;
    font-weight: 500;
}
.submit-button {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


@media only screen and (max-width: 600px) {

}
@media only screen and (max-width: 400px) {

}
@media only screen and (max-width: 330px) {
    .form {
        display: block;
    }
    .cel-fahren-select {
        margin-top: 2vh;
    }
}