h3, i {
    color: rgb(204, 204, 204);
}
.current-weather-bg-img {
    min-height: 100vh;
    text-align: center;
    overflow: auto;
    
    background-color: rgb(32, 31, 31);
    background-position: center bottom;
    background-size: cover;

    animation-name: ani_MoveBG;
    animation-duration: 35s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.current-weather-bg-color {
    min-height: 100vh;
    transition: background-color 250ms linear;
}
.current-weather-bg-color.black {
    background-color: rgb(32, 31, 31);
}
.current-weather-content {
    margin-top: 11vh;
    display: inline-block;
    padding: 45px;
    border-radius: 10%;
    background-color: rgba(34, 34, 39, 0.801);
}
.date {
    font-weight: 400;
    font-size: 1.5rem;
}
.location {
    min-height: 35px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.7rem;
}
.temp-container {
    margin-top: 5vh;
}
.wi {
    font-size: 4.5rem;
}
.actual-temp {
    display: inline;
    font-weight: bold;
    margin-left: 70px;
    font-size: 2.5rem;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
    
} 
/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
    
}


@keyframes ani_MoveBG {
    0% {
		background-position: center bottom;
    }
    /* 10% {
        background-position: center bottom;
    } */
	50% {
		background-position: 0% 80%;
    }
    /* 90% {
        background-position: center bottom;
    } */
	100% {
		background-position: center bottom;
	}
 }